@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .debug-1 {
        @apply border-[1px] border-red-900;
    }
    .debug-2 {
        @apply border-[1px] border-yellow-500;
    }
    .debug-3 {
        @apply border-[1px] border-dashed border-green-600;
    }
    .scrollbar::-webkit-scrollbar {
        width: 3px;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        border-radius: 100vh;
        background: #d1d5db;
    }
    .scrollbarDark::-webkit-scrollbar-thumb {
        border-radius: 100vh;
        background: #111827;
    }
    .text-primary {
        @apply text-[0.95rem] text-primary-base dark:text-primary-dark;
    }
    .text-secondary {
        @apply text-[0.8rem] text-secondary-base dark:text-secondary-dark;
    }
}
